/data/dalina/test_for_radiomic2.csv
/data/dalina/train_for_radiomic2.csv
/data/dalina/val_for_radiomic2.csv
/data/huaxi/.ipynb_checkpoints/data_split-checkpoint.ipynb
/data/huaxi/.ipynb_checkpoints/huaxi-checkpoint.csv
/data/huaxi/.ipynb_checkpoints/id_adress_pfs_kfolder_v4_test(1)-checkpoint.csv
/data/huaxi/.ipynb_checkpoints/kuochong-checkpoint.csv
/data/huaxi/.ipynb_checkpoints/test-checkpoint.csv
/data/huaxi/.ipynb_checkpoints/train-checkpoint.csv
/data/huaxi/.ipynb_checkpoints/val-checkpoint.csv
/data/huaxi/.ipynb_checkpoints/分布统计-checkpoint.ipynb
/data/huaxi/.ipynb_checkpoints/数据处理-checkpoint.ipynb
/data/huaxi/.ipynb_checkpoints/计算midpfs-checkpoint.ipynb
/data/huaxi/.ipynb_checkpoints/追加到原始csv中-checkpoint.ipynb
/data/huaxi/data_split.ipynb
/data/huaxi/huaxi_kuochong.csv
/data/huaxi/train.csv
/data/huaxi/val.csv
/data/huaxi/分布统计.ipynb
/data/huaxi/数据处理.ipynb
/data/huaxi/计算midfps.xls
/data/huaxi/计算midpfs.ipynb
/data/huaxi/追加到原始csv中.ipynb
/data/lung1/.ipynb_checkpoints/test-checkpoint.csv
/data/lung1/.ipynb_checkpoints/train-checkpoint.csv
/data/lung1/.ipynb_checkpoints/val-checkpoint.csv
/data/lung1/.ipynb_checkpoints/计算midpfs-checkpoint.ipynb
/data/lung1/test.csv
/data/lung1/test_val.csv
/data/lung1/train.csv
/data/lung1/val.csv
/data/lung1/计算midpfs.ipynb
/data/pretrain/.ipynb_checkpoints/csv_research-checkpoint.py
/data/pretrain/.ipynb_checkpoints/json_csv-checkpoint.py
/data/pretrain/.ipynb_checkpoints/train_cleaned-checkpoint.csv
/data/pretrain/.ipynb_checkpoints/val-checkpoint.csv
/data/pretrain/.ipynb_checkpoints/val_cleaned-checkpoint.csv
/data/pretrain/csv_research.py
/data/pretrain/data_anomal_HenanShengjingJilinQilu.json
/data/pretrain/json_csv.py
/data/pretrain/train.csv
/data/pretrain/train_cleaned.csv
/data/pretrain/val.csv
/data/pretrain/val_cleaned.csv
/evaluate_model/ConvNeXt/output/huaxi/Resnet/pre/checkpoint-1.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/pre/checkpoint-2.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/pre/checkpoint-3.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/pre/checkpoint-4.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/pre/checkpoint-5.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/pre/checkpoint-6.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/pre/checkpoint-7.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/pre/checkpoint-38.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/pre/checkpoint-39.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/pre/checkpoint-40.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/pre/checkpoint-best.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/pre/log.txt
/evaluate_model/ConvNeXt/output/huaxi/Resnet/checkpoint-97.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/checkpoint-98.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/checkpoint-99.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/checkpoint-best.pth
/evaluate_model/ConvNeXt/output/huaxi/Resnet/log.txt
/evaluate_model/ConvNeXt/output/lung1/Resnet/generate/checkpoint-95.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/generate/checkpoint-96.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/generate/checkpoint-97.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/generate/checkpoint-98.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/generate/checkpoint-99.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/generate/checkpoint-best.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/generate/log.txt
/evaluate_model/ConvNeXt/output/lung1/Resnet/pre/checkpoint-97.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/pre/checkpoint-98.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/pre/checkpoint-99.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/pre/checkpoint-best.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/pre/log.txt
/evaluate_model/ConvNeXt/output/lung1/Resnet/checkpoint-83.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/checkpoint-84.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/checkpoint-85.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/checkpoint-97.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/checkpoint-98.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/checkpoint-99.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/checkpoint-best.pth
/evaluate_model/ConvNeXt/output/lung1/Resnet/log.txt
/evaluate_model/ConvNeXt/实验笔记.txt
/evaluate_model/final_complete_with_paths_labels.csv
/pretrain/checkpoint-544000/consolidated_model/extract_weight_0810.py
/pretrain/checkpoint-544000/consolidated_model/model.safetensors
/pretrain/checkpoint-544000/global_step544000/bf16_zero_pp_rank_0_mp_rank_00_optim_states.pt
/pretrain/checkpoint-544000/global_step544000/bf16_zero_pp_rank_1_mp_rank_00_optim_states.pt
/pretrain/checkpoint-544000/global_step544000/bf16_zero_pp_rank_2_mp_rank_00_optim_states.pt
/pretrain/checkpoint-544000/global_step544000/bf16_zero_pp_rank_3_mp_rank_00_optim_states.pt
/pretrain/checkpoint-544000/global_step544000/mp_rank_00_model_states.pt
/pretrain/checkpoint-544000/config.json
/pretrain/checkpoint-544000/latest
/pretrain/checkpoint-544000/model.safetensors
/pretrain/checkpoint-544000/rng_state_0.pth
/pretrain/checkpoint-544000/rng_state_1.pth
/pretrain/checkpoint-544000/rng_state_2.pth
/pretrain/checkpoint-544000/rng_state_3.pth
/pretrain/checkpoint-544000/scheduler.pt
/pretrain/checkpoint-544000/trainer_state.json
/pretrain/checkpoint-544000/training_args.bin
/pretrain/checkpoint-544000/zero_to_fp32.py
/utils/dataUtils/create_csv.ipynb
/utils/dataUtils/cv2resize3d.py
/utils/dataUtils/s1.sh
/utils/dataUtils/s1将EGFR96的npy文件转为tensor文件.py
/utils/dataUtils/s2查看数据z轴在哪里.ipynb
/utils/dataUtils/test.png
/utils/dataUtils/test_aug.nii
/utils/dataUtils/test_aug.png
/utils/resultUtils/s1计算auc和acc.py
/utils/__init__.py
/utils/data_process.py
/utils/data_utils.py
/utils/dataset_clip.py
/utils/dataset_clip_text.py
/utils/dataset_clipv2.py
/utils/message.py
/utils/metric.py
/utils/ops.py
/utils/s1-实验调整-查看特征相似度是否有小于0的.ipynb
/utils/try.ipynb
/utils/画图_输出图的热图.ipynb
/train.py
/6swin3d-clip-20clsOri-544000-用之前的权重继续训练一下-freezeall.sh
/6swin3d-clip-20clsOri-544000-cox-freezeall.sh
/default_config.yaml
/feature_extract.sh
/out_name.tar.gz
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/pre/events.out.tfevents.1774175144.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/pre/events.out.tfevents.1774175355.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/pre/events.out.tfevents.1774175632.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/pre/events.out.tfevents.1774175649.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/pre/events.out.tfevents.1774175782.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/pre/events.out.tfevents.1774176135.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/pre/events.out.tfevents.1774176619.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/pre/events.out.tfevents.1774176967.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/pre/events.out.tfevents.1774177332.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/pre/events.out.tfevents.1774178844.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/pre/events.out.tfevents.1774179148.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/pre/events.out.tfevents.1775109247.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774161609.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774161632.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774161694.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774161748.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774161972.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774168359.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774168834.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774168977.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774174149.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774176841.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774177692.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774177872.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774177993.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774178029.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774178086.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774178431.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774179045.5468m7
/evaluate_model/ConvNeXt/logs/huaxi/Resnet/events.out.tfevents.1774179070.5468m7
/evaluate_model/ConvNeXt/logs/lung1/.ipynb_checkpoints/train_log_aug-checkpoint.txt
/evaluate_model/ConvNeXt/logs/lung1/pre/events.out.tfevents.1775112647.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773836824.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773836871.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773837021.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773837089.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773837140.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773837243.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773837370.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773837537.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773837893.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773838465.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773838546.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773838862.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773838945.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773840487.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773840960.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773840992.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773903863.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773903948.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773903986.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773904052.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773904483.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773904571.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773905225.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773905576.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773905617.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773905681.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773905728.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773905770.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773905912.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773905949.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773905982.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/generate/events.out.tfevents.1773906392.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773907622.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773908386.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773908846.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773909737.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773909798.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773909899.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773909942.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773910509.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773910548.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773910585.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773910664.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773910785.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773910855.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773912977.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773913054.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773913238.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773913344.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773913607.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773914153.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773915450.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773916811.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773917564.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773918081.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773919031.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1773927452.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1774176028.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1774246499.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1774246517.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/pre/events.out.tfevents.1774246549.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773808444.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773907467.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773907698.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773907725.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773907766.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773907931.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773908222.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773913888.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773915233.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773915278.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773920788.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773927112.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773927406.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1773999740.5468m7
/evaluate_model/ConvNeXt/logs/lung1/Resnet/events.out.tfevents.1774174048.5468m7
/evaluate_model/ConvNeXt/logs/lung1/sim/.ipynb_checkpoints/train_log_aug-checkpoint.txt
/evaluate_model/ConvNeXt/logs/lung1/sim/events.out.tfevents.1775110728.5468m7
/evaluate_model/ConvNeXt/logs/lung1/sim/train_log_aug.txt
/evaluate_model/ConvNeXt/logs/lung1/train_log_aug.txt
/.ipynb_checkpoints/6swin3d-clip-20clsOri-544000-cox-freezeall-checkpoint.sh
/.ipynb_checkpoints/6swin3d-clip-20clsOri-544000-用之前的权重继续训练一下-freezeall-checkpoint.sh
/.ipynb_checkpoints/default_config-checkpoint.yaml
/.ipynb_checkpoints/feature_extract-checkpoint.py
/.ipynb_checkpoints/feature_extract-checkpoint.sh
/.ipynb_checkpoints/main2d_cubeloss_multigpus_cls_accelerate_multicls_multival_cox-checkpoint.py
/.ipynb_checkpoints/train-checkpoint.py
/.virtual_documents/data/huaxi/data_split.ipynb
/.virtual_documents/data/huaxi/Untitled.ipynb
/.virtual_documents/data/huaxi/分布统计.ipynb
/.virtual_documents/data/huaxi/数据处理.ipynb
/.virtual_documents/data/lung1/计算midpfs.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/huaxi/pretrain/data_process.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/huaxi/pretrain/patch_recover.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/huaxi/test/data_process.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/huaxi/test/patch_recover.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/huaxi/train/csv_convert.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/huaxi/train/data_process.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/huaxi/train/patch_recover.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/huaxi/val/data_process.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/huaxi/val/patch_recover.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/lung1/pretrain/data_process.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/lung1/pretrain/patch_recover.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/lung1/test/csv_convert.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/data/lung1/train/patch_recover.ipynb
/.virtual_documents/evaluate_model/ConvNeXt/01_introduction.ipynb
/.virtual_documents/evaluate_model/feature_similiary/huaxi/feature_similiary.ipynb
/.virtual_documents/evaluate_model/feature_similiary/huaxi/feature_similiary_3.ipynb
/.virtual_documents/evaluate_model/feature_similiary/lung1/csv_convert.ipynb
/.virtual_documents/evaluate_model/feature_similiary/lung1/feature_similiary.ipynb
/evaluate_model/feature_similiary/data/huaxi/pretrain/.ipynb_checkpoints/data_process-checkpoint.ipynb
/evaluate_model/feature_similiary/data/huaxi/pretrain/.ipynb_checkpoints/final_complete_with_paths-checkpoint.csv
/evaluate_model/feature_similiary/data/huaxi/pretrain/.ipynb_checkpoints/patch_recover-checkpoint.ipynb
/evaluate_model/feature_similiary/data/huaxi/pretrain/data_process.ipynb
/evaluate_model/feature_similiary/data/huaxi/pretrain/final_complete.csv
/evaluate_model/feature_similiary/data/huaxi/pretrain/final_complete_with_paths.csv
/evaluate_model/feature_similiary/data/huaxi/pretrain/merged_output.csv
/evaluate_model/feature_similiary/data/huaxi/pretrain/patch_recover.ipynb
/evaluate_model/feature_similiary/data/huaxi/pretrain/processed_rank_0.csv
/evaluate_model/feature_similiary/data/huaxi/pretrain/train_cleaned.csv
/evaluate_model/feature_similiary/data/lung1/pretrain/.ipynb_checkpoints/data_process-checkpoint.ipynb
/evaluate_model/feature_similiary/data/lung1/pretrain/.ipynb_checkpoints/final_complete-checkpoint.csv
/evaluate_model/feature_similiary/data/lung1/pretrain/.ipynb_checkpoints/final_complete_with_paths-checkpoint.csv
/evaluate_model/feature_similiary/data/lung1/pretrain/.ipynb_checkpoints/merged_output-checkpoint.csv
/evaluate_model/feature_similiary/data/lung1/pretrain/.ipynb_checkpoints/patch_recover-checkpoint.ipynb
/evaluate_model/feature_similiary/data/lung1/pretrain/.ipynb_checkpoints/processed_rank_0-checkpoint.csv
/evaluate_model/feature_similiary/data/lung1/pretrain/.ipynb_checkpoints/train_cleaned-checkpoint.csv
/evaluate_model/feature_similiary/data/lung1/pretrain/data_process.ipynb
/evaluate_model/feature_similiary/data/lung1/pretrain/final_complete.csv
/evaluate_model/feature_similiary/data/lung1/pretrain/final_complete_with_paths.csv
/evaluate_model/feature_similiary/data/lung1/pretrain/merged_output.csv
/evaluate_model/feature_similiary/data/lung1/pretrain/patch_recover.ipynb
/evaluate_model/feature_similiary/data/lung1/pretrain/processed_rank_0.csv
/evaluate_model/feature_similiary/data/lung1/pretrain/processed_rank_1.csv
/evaluate_model/feature_similiary/data/lung1/pretrain/train_cleaned.csv
/evaluate_model/feature_similiary/huaxi/pretrain_class_0_sim.csv
/evaluate_model/feature_similiary/huaxi/pretrain_class_1_sim_summary.txt
/evaluate_model/feature_similiary/huaxi/pretrain_class_0_sim_summary.txt
/evaluate_model/feature_similiary/huaxi/inference_distance_samples.csv
/evaluate_model/feature_similiary/huaxi/inference_results.csv
/evaluate_model/feature_similiary/huaxi/pretrain_class_1_sim.csv
/evaluate_model/feature_similiary/huaxi/pretrain_class_sim.csv
/evaluate_model/feature_similiary/huaxi/pseudo_label_results.csv
/evaluate_model/feature_similiary/lung1/inference_distance_samples.csv
/evaluate_model/feature_similiary/lung1/inference_distance_samples_filtered.csv
/evaluate_model/feature_similiary/lung1/inference_results.csv
/evaluate_model/feature_similiary/lung1/pretrain_class_0_sim.csv
/evaluate_model/feature_similiary/lung1/pretrain_class_0_sim_summary.txt
/evaluate_model/feature_similiary/lung1/pretrain_class_1_sim.csv
/evaluate_model/feature_similiary/lung1/pretrain_class_1_sim_summary.txt
/evaluate_model/feature_similiary/lung1/pretrain_class_sim.csv
/evaluate_model/feature_similiary/lung1/pseudo_label_results.csv
